// Place all the styles related to the todo_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
table.rosyBrownTable {
    border: 4px solid #BA8697;
    background-color: #8B6577;
    width: 400px;
    text-align: center;
    border-collapse: collapse;
  }
  table.rosyBrownTable td, table.rosyBrownTable th {
    border: 1px solid #555555;
    padding: 4px 4px;
  }
  table.rosyBrownTable tbody td {
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
  }
  table.rosyBrownTable tr:nth-child(even) {
    background: #BA8697;
  }
  table.rosyBrownTable td:nth-child(even) {
    background: #BA8697;
  }
  table.rosyBrownTable tfoot {
    font-weight: bold;
    background: #BA8697;
    border-top: 1px solid #444444;
  }
  table.rosyBrownTable tfoot .links {
    text-align: right;
  }
  table.rosyBrownTable tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #BA8697;
    padding: 2px 8px;
    border-radius: 5px;
  }